body{

	max-width: auto;
	max-height: 2000;
	min-width: auto;
	min-height: auto;
	padding-left: 10%;
	padding-right: 10%;
	background-color:aliceblue;
	overflow-x: hidden;
	overflow-y: auto;
}

h1{	
	color: #000;
	text-align: center;
	font-family: Kaus;
	font-size: 40px;
	line-height: normal;
	margin-top: 80px;
}

@font-face {
	font-family: "Kaus";
	src: url("fonts/KaushanScript-Regular.otf");
}

h2{
	color: #000;
	font-family: Kaus;
	font-size: 36px;
}

.desc{
	width: 646px;
	height: 382px;
	color: #000;
	font-family: Inter;
	font-size: 32px;
	font-weight: 400;
	margin-top: -9px;
	
}

.menu-ico{
	font-size: 25px;
}

img{
	width: 505px;
	height: 382px;
	margin-top: -7px;
}

.item1{ 
	display: inline-grid;
	grid-template-columns: 50% 50%;
	grid-auto-columns: auto;
	grid-template-rows: 60% 60%;
}



.coloring{
	order:4;
	width: 646px;
	height: 234px;
}

.c1{
	color: #000;
	font-family: Inter;
	font-size: 32px;
	font-weight: 700;
	margin-top: 20px;
}

.c2{
	color: #000;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	margin-top: -30px;
}

.charact{
	width: 452px;
	height: 176px;
	color: #FFF;
	font-family: Inter;
	font-size: 24px;
	font-weight: 400;
	background: #4B443D;
	border-width: 25px;
	border-style: solid;
	border-color: #4B443D;
}

.item2{
	display: inline-grid;
	grid-template-columns: 60% 40%;
	background-color:blanchedalmond;
	padding: 10px;
}

.pv_cat{
	padding-top: 10px;
}

.list_cat{
	font-family: Inter;
	font-size: 24px;
}

li{
	padding-bottom: 10px;
}

.end{
	padding-top: 50px;
}

.item3{
	display: inline-grid;
	grid-template-columns: 35% 35% 35%;
	color: #000;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	margin-left: 10%;
}

.addimg{
	border-radius: 8px;
	width: 300px;
	height: 400px;
}

.add{
	width: 300px;
	text-align: center;
}

.kaus{
	font-family: Kaus;
	color: #000;
}

a{
	text-decoration: none;
	color:#414141;
}

.menu{
	display: inline-grid;
 	position: fixed;
	 grid-template-columns: 76% 76% 76% 76% 76%;
	 justify-content: center;
	 background-color: #614d1bad;
	 padding: 25px 45% 25px 37%;
	 margin: -80px -3% 0px -10.6%;
	 text-align: center;
	 z-index: 1;
}

.tab{
	display: inline;
	color: #FFF;
	transition: background-color 5s e;
	border-radius: 40px;
	transition: background-color 0.5s ease-in-out;
	font-size: 20px;
}

.tab:hover{
	background-color: #3a2e11cc;
}

#photo{
	display: inline;
	scale: 0.60;
	margin-top: -50px;
}

#photo_bottom{
	margin: -70px 0px 0px 115px;
	font-family: Inter;
	font-weight: 400;
}

.text_contact{
	font-size: 20px;
	font-family: Inter;
	font-weight: 400;
}

.contacts_item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

#contacts_item2{
	margin-left: 100px;
	margin-top: 75px;
	width: 450px;
	background-color:#716033ad;
	border-radius: 50px;
	padding: 10px;
}

#contacts_line{
	border: 2px solid rgb(54, 48, 8);
	margin: 20px;
	width: 1650px;
	margin-left: -20%;
}

.addimg {
    filter: sepia(60%);
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in;
	z-index: 0;

}

.addimg:hover {
    filter: none;
    transform:scale(101%);
}

.cat_categories{
	text-align: center;
	display: inline-grid;
	grid-template-columns: 50% 50% 50%;
	width: 800px;
}

.cat_categorie{
	font-size: 200px;
}

.cat_categorie:hover{
	transition: color 0.5s;
}

.cat_categorie_p{
	font-size: 30px;
	font-family: Inter;
	font-weight: 500;
}

.categorie_anim{
	transition: background-color 0.5s;
	border-radius: 60px;
}

.categorie_anim:hover{
	background-color: bisque;
}

#cat_categorie1:hover{
	color: rgb(203, 118, 0);
}

#cat_categorie2:hover{
	color: rgb(39, 127, 154);
}

#cat_categorie3:hover{
	color: rgb(147, 54, 54);
}

#cat_categorie4:hover{
	color: rgb(187, 182, 38);
}

#cat_categorie5:hover{
	color: rgb(174, 53, 148);
}

#cat_categorie6:hover{
	color: rgb(83, 63, 35);
}

#cat_categorie7:hover{
	color: rgb(40, 119, 30);
}

footer{
	margin-top: 250px;
	font-family: Inter;
}

#footer_back1{
	display: block;
	border: 90px solid #242424;
	margin-left: -300px;
	margin-bottom: -80px;
	margin-top: 70px;
	width: 1500px;
}

#footer_back2{
	display: block;
	border: 40px solid #171717;
	margin-left: -180px;
	margin-top: 50px;
	width: 1500px;
}

#footer_text1{
	margin: -140px 10px 0px 120px;
	color: #FFF;
	font-weight: 300;
	font-size: 18px;
}

#footer_text2{
	text-align: center;
	color: #FFF;
	margin: -50px 0px 0px 0px;
}

#email{
	color:bisque;
	font-weight: 600;
}

